.text {
  height: 290px;
  max-height: 480px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.3rem;
  padding: 1rem;
}

.text-form-field {
  padding-left: 24px;
  padding-right: 24px;
}
