<section fxLayout="column" [fxShow]="visible">
  <mat-toolbar class="app-toolbar" color="accent">
    <mat-icon class="icon-header">loupe</mat-icon>&nbsp;
    Filtrer
    <span fxFlex></span>
    <button mat-icon-button (click)="onSetGlobalFilter()">
      <mat-icon>panorama_fish_eye</mat-icon>
    </button>
    <button mat-icon-button (click)="onSetSeedFilter()">
      <mat-icon>adjust</mat-icon>
    </button>
    <button mat-icon-button (click)="onReset()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <div fxLayout="column" class="app-content__padding">
    <app-slider
      class="slider"
      (change)="onFilterChange($event)"
      [config]="characterCount$ | async"></app-slider>
    <app-slider
      class="slider"
      (change)="onFilterChange($event)"
      [config]="wordCount$ | async"></app-slider>
    <app-slider
      class="slider"
      (change)="onFilterChange($event)"
      [config]="sentenceCount$ | async"></app-slider>
    <app-slider
      class="slider"
      (change)="onFilterChange($event)"
      [config]="lix$ | async"></app-slider>
    <app-slider
      class="slider"
      (change)="onFilterChange($event)"
      [config]="longWordCount$ | async"></app-slider>
    <app-select
      class="select"
      (change)="onFilterChange($event)"
      [config]="language$ | async"></app-select>
    <app-select
      class="select"
      (change)="onFilterChange($event)"
      [config]="contentType$ | async"></app-select>
    <app-select
      class="select"
      (change)="onFilterChange($event)"
      [config]="discoveryPath$ | async"></app-select>
    <app-select
      class="select"
      (change)="onFilterChange($event)"
      [config]="requestedUri$ | async"></app-select>
    <app-regexp
      (change)="onFilterChange($event)"
      [config]="fieldRegexp$ | async"></app-regexp>
  </div>
</section>
