<ng-container *ngIf="!hidden">
  <mat-toolbar class="app-toolbar" color="primary">
    <mat-icon class="icon-header">comment</mat-icon>&nbsp;
    Tekst
    <span fxFlex></span>
    <button mat-icon-button (click)="onIdentifyLanguage(textArea.value)">
      <mat-icon>translate</mat-icon>
    </button>
    <a mat-icon-button [href]="'https://translate.google.com/?sl=auto#auto/no/' + textArea.value" target="_blank">
      <mat-icon>g_translate</mat-icon>
    </a>
    <button mat-icon-button (click)="onClear()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutGap="12px">

    <mat-form-field class="text-form-field" fxFlex>
      <textarea class="text" matInput #textArea [ngModel]="text"></textarea>
    </mat-form-field>

    <mat-table fxFlex="20%" [dataSource]="nominations">
      <ng-container matColumnDef="code">
        <mat-header-cell class="narrow" *matHeaderCellDef>Språkkode</mat-header-cell>
        <mat-cell class="narrow" *matCellDef="let row">{{row.code}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell class="narrow" *matHeaderCellDef>Sannsynlighet</mat-header-cell>
        <mat-cell class="narrow" *matCellDef="let row">{{row.count}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

  </div>
</ng-container>
