<mat-spinner [strokeWidth]="2" color="warn" *ngIf="loading$ | async" class="data-loader"></mat-spinner>
<section fxLayout="row">
  <div class="column-left" fxFlex="15%">
    <app-entity-list fxFlex="grow" (rowClick)="onEntitySelect($event)"></app-entity-list>
  </div>
  <div class="column-center" fxLayout="column" fxFlex="grow">
    <app-seed-list fxFlex (rowClick)="onSeedSelect($event)" [entity]="entity$ | async"></app-seed-list>
    <app-chart fxFlex
               [granularity]="granularity$ | async"
               [data]="filteredData$ | async"
               (allTextElementClick)="onAllTextClick($event)"
               (shortTextElementClick)="onShortTextClick($event)"
               (longTextElementClick)="onLongTextClick($event)"
               (perExecutionElementClick)="onPerExecutionTextClick($event)"></app-chart>

    <app-uri-list fxFlex (text)="onRequestText($event)"
                  [data]="filteredData$ | async"></app-uri-list>
    <app-text fxFlex [text]="text$ | async"></app-text>
  </div>
  <div class="column-right" fxFlex="20%" fxLayout="column">
    <app-interval (granularity)="onGranularityChange($event)" (intervalSet)="onIntervalChange($event)"></app-interval>
    <app-filter fxFlex="grow"
                [domain]="domain$ | async"
                [filter]="filter$ | async"
                (change)="onFilterChange($event)"
                (save)="onFilterSave($event)"></app-filter>
  </div>
</section>
