@import 'https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css';

.app-toolbar__button {
  margin-left: 1em;
}

.statistics-container {
  height: 100%;
  background: white;
}

.app-entity-list {
  min-width: 400px;
}

.statistics-selection {
  min-height: 250px;
  max-height: 450px;
}

.chart {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
}
