<section class="statistics-container" fxLayout="row">

  <!-- Entity list -->
  <app-entity-list class="app-entity-list" fxFlex="25%" (rowClick)="seedList.entity=$event"></app-entity-list>


  <div fxFlex="grow" fxLayout="column">
    <div class="statistics-selection" fxFlex="15%" fxLayout="row">
      <app-seed-list fxFlex="2 2 auto" #seedList (rowClick)="onSelectSeed($event)"></app-seed-list>
      <app-interval (intervalSet)="onInterval($event)"></app-interval>
    </div>

    <mat-toolbar class="app-toolbar" color="primary">Statistikk</mat-toolbar>

    <div fxFlex="25%" fxLayout="row">
      <div fxFlex fxLayout="column" *ngIf="totalData">
        <mat-toolbar class="app-toolbar">Alle tekster</mat-toolbar>
        <nvd3 fxFlex="grow" class="chart" [options]="options.pie" [data]="totalData"></nvd3>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div fxFlex fxLayout="column" *ngIf="shortTextData">
        <mat-toolbar class="app-toolbar">Korte tekster</mat-toolbar>
        <nvd3 fxFlex="grow" class="chart" [options]="options.pie" [data]="shortTextData"></nvd3>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div fxFlex fxLayout="column" *ngIf="longTextData">
        <mat-toolbar class="app-toolbar">Lange tekster</mat-toolbar>
        <nvd3 fxFlex="grow" class="chart" [options]="options.pie" [data]="longTextData"></nvd3>
      </div>
    </div>


    <div fxFlex="grow" fxLayout="column">
      <div fxFlex="grow" fxLayout="column" *ngIf="perExecutionData">
        <mat-toolbar class="app-toolbar">Per innhøsting
          <span fxFlex></span>
          <button mat-raised-button class="app-toolbar__button" (click)="onClickMultiBar()">multibar</button>
          <button mat-raised-button class="app-toolbar__button" (click)="onClickStacked()">stacked</button>
        </mat-toolbar>
        <nvd3 fxFlex="grow" class="chart" [options]="options.multiBar" [data]="perExecutionData"></nvd3>
      </div>
    </div>

  </div>
</section>
