a {
  margin: 2rem;
}

.home-container {
  height: 100%;
}


.header-background {
  color: black;
  background: white;
}

.header-section {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 2rem;
}

.header-headline {
  margin-bottom: 2rem;
}

.header-headline h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 0 15px 0;
}

.header-headline h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px 0;
}

.header-stats {
  background: black;
  padding: 60px 0 60px 0;
}


.app-footer {
  background: black;
  color: white;
  padding: 12px;
}

.app-version {
  font-family: monospace;
}

.logo {
  width: 250px;
}
