html, body, app-root, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

.fill-space {
  flex: 1 1 auto;
}
.container {
  padding: 1em 24px;
}

.icon-header {
  margin-right: 16px;
}
