@import "~nouislider/distribute/nouislider.min.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-toolbar {
  min-height: 48px;
  max-height: 48px;
}

.app-content__padding {
  padding: 12px 24px 16px 24px;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

// noUislider customizations

.noUi-connect {
  background: #B1CBE1;
}

.noUi-horizontal .noUi-tooltip {
  bottom: 110%;
}

.noUi-tooltip {
  padding: 1px;
}

@media print {
  .hide-print {
    display: none !important;
  }
}

// Custom panel height
div.mat-autocomplete-panel {
  max-height: 400px;
}
