@import '~@angular/material/theming';

$maalfrid-typography: mat-typography-config(
  $font-family: 'Raleway, Helvetica, Arial, sans-serif'
);

@include mat-core($maalfrid-typography);

$maalfrid-primary-palette: mat-palette($mat-blue-gray);
$maalfrid-accent-palette: mat-palette($mat-orange);
$maalfrid-warn-palette: mat-palette($mat-red);

$maalfrid-theme: mat-light-theme($maalfrid-primary-palette, $maalfrid-accent-palette, $maalfrid-warn-palette);

@include angular-material-theme($maalfrid-theme);

$background: mat-color(map-get($maalfrid-theme, background), 'background');
$highlight: mat-color(map-get($maalfrid-theme, background), 'hover');
