<section fxLayout="column">
  <mat-toolbar class="app-toolbar" color="accent">
    <mat-icon class="icon-header">adjust</mat-icon>&nbsp;
    Filter
    <span fxFlex></span>
    <button mat-icon-button (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="onToggleBypass()">
      <mat-icon>{{ bypassIcon }}</mat-icon>
    </button>
  </mat-toolbar>

  <div fxLayout="column" class="app-container__padding">
    <app-slider [config]="characterCount$ | async"></app-slider>
    <app-slider [config]="wordCount$ | async"></app-slider>
    <app-slider [config]="sentenceCount$ | async"></app-slider>
    <app-slider [config]="lix$ | async"></app-slider>
    <app-slider [config]="longWordCount$ | async"></app-slider>
    <app-select [config]="language$ | async"></app-select>
    <app-select [config]="contentType$ | async"></app-select>
    <app-select [config]="discoveryPath$ | async"></app-select>
    <app-select [config]="requestedUri$ | async"></app-select>
    <mat-form-field>
      <input matInput>
    </mat-form-field>
  </div>
</section>
