<div class="app-container" fxLayout="column">
  <mat-toolbar class="app-toolbar" color="accent">
    <span>Målfrid</span>
    <span fxFlex></span>
    <span>{{ name }} </span>
    <span fxFlex></span>
    <!-- Logon/Logoff-->
    <a color="primary" mat-raised-button (click)="onLogout()" *ngIf="name">
      <mat-icon>person</mat-icon>
      <ng-container i18n="@@toolbarLogon">Logg av</ng-container>
    </a>
    <a color="primary" mat-raised-button (click)="onLogin()" *ngIf="!name">
      <mat-icon>person</mat-icon>
      <ng-container i18n="@@toolbarLogon">Logg på</ng-container>
    </a>
  </mat-toolbar>

  <main fxFlex="grow">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer" fxLayoutAlign="space-around center">
    <span>En teneste utvikla av Nasjonalbiblioteket for Språkrådet</span>
    <span>versjon: {{ version }}</span>
  </footer>
</div>
