<mat-toolbar color="accent">
  <h1>Målfrid</h1>
  <span>v{{ version }}</span>
  <span fxFlex fxFlexFill></span>
  <span>{{ groups }}</span>
  <span>{{ name }}</span>
  <span fxFlex fxFlexFill></span>
  <a color="primary" mat-raised-button (click)="onLogin()" *ngIf="!name">
    <mat-icon>person</mat-icon>
    <ng-container i18n="@@toolbarLogon">Logg på</ng-container>
  </a>
  <a color="primary" mat-raised-button (click)="onLogout()" *ngIf="name">
    <mat-icon>person</mat-icon>
    <ng-container i18n="@@toolbarLogon">Logg av</ng-container>
  </a>
</mat-toolbar>

<main class="mat-typography">
  <router-outlet></router-outlet>
</main>
