.app-container {
  height: 100%;
}

main {
overflow: hidden;
}

.app-link {
  text-decoration: none;
  color: inherit;
}

.app-version {
  font-family: monospace;
}

.app-footer {
  color: white;
  padding: 12px;
  background: #3f51b5;
}
