<section fxLayout="column">
  <mat-toolbar class="app-toolbar" color="accent">
    <mat-icon>poll</mat-icon>&nbsp;Statistikk
    <span fxFlex></span>
  </mat-toolbar>
  <div fxLayout="row">
    <div class="pie-chart-container" fxFlex fxLayout="column">
      <mat-toolbar class="app-toolbar">
        <span fxFlex>Alle tekster</span>
        <span class="stat-count">{{nrOfTexts}}</span>
      </mat-toolbar>
      <div class="pie-chart">
        <ngx-charts-pie-chart
          [animations]="false"
          [labels]="true"
          [customColors]="customColors"
          [doughnut]="doughnut"
          [results]="allTextData$ | async"></ngx-charts-pie-chart>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="pie-chart-container" fxFlex fxLayout="column">
      <mat-toolbar class="app-toolbar">
        <span fxFlex>Korte tekster</span>
        <span class="stat-count">{{nrOfShortTexts}}</span>
      </mat-toolbar>
      <div class="pie-chart">
        <ngx-charts-pie-chart
          [animations]="false"
          [labels]="true"
          [customColors]="customColors"
          [doughnut]="doughnut"
          [results]="shortTextData$ | async"></ngx-charts-pie-chart>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="pie-chart-container" fxFlex fxLayout="column">
      <mat-toolbar class="app-toolbar">
        <span fxFlex>Lange tekster</span>
        <span class="stat-count">{{nrOfLongTexts}}</span>
      </mat-toolbar>

      <div class="pie-chart">
        <ngx-charts-pie-chart
          [animations]="false"
          [labels]="true"
          [customColors]="customColors"
          [doughnut]="doughnut"
          [results]="longTextData$ | async"></ngx-charts-pie-chart>
      </div>
    </div>
  </div>

  <div class="bar-chart-container" fxFlex fxLayout="column">
    <mat-toolbar class="app-toolbar">Per innhøsting
      <span fxFlex></span>
      <mat-button-toggle-group [value]="chartType" (change)="onChartToggle($event)">
        <mat-button-toggle value="bar-vertical-stacked">
          <mat-icon>equalizer</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="area-chart-normalized">
          <mat-icon>show_chart</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="area-chart-stacked">
          <mat-icon>show_chart</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>
    <div class="app-content__padding chart" [ngSwitch]="chartType" *ngIf="perExecutionData$ | async as results">
      <div class="chart" *ngSwitchCase="'bar-vertical-stacked'">
        <ngx-charts-bar-vertical-stacked
          [xAxis]="true"
          [yAxis]="true"
          [animations]="false"
          [legend]="true"
          [legendTitle]="'Tegnforklaring'"
          [customColors]="customColors"
          [results]="results"></ngx-charts-bar-vertical-stacked>
      </div>
      <div class="chart" *ngSwitchCase="'area-chart-stacked'">
        <ngx-charts-bar-vertical-normalized
          [xAxis]="true"
          [yAxis]="true"
          [animations]="false"
          [legend]="true"
          [legendTitle]="'Tegnforklaring'"
          [customColors]="customColors"
          [results]="results">
        </ngx-charts-bar-vertical-normalized>
      </div>
      <div class="chart" *ngSwitchCase="'area-chart-normalized'">
        <ngx-charts-area-chart-normalized
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [legendTitle]="'Tegnforklaring'"
          [animations]="false"
          [customColors]="customColors"
          [results]="results">
        </ngx-charts-area-chart-normalized>
      </div>
    </div>
  </div>
</section>
