section {
  height: 100%;
}

.pie-chart-container {
  min-height: 300px;
}

.pie-chart {
  height: 100%;
}

.bar-chart-container {
  min-height: 400px;
}

.chart {
  height: 100%;
  overflow: hidden;
}

.stat-count {
  font-size: 75%;
  font-family: monospace;
}
