<div class="container" fxLayout="column">
  <header class="mat-elevation-z1">
    <div>
      <h1 style="display: inline;">Målfrid</h1>
      <h2 style="display: inline"> beta</h2>
    </div>
    <h2 i18n="@@homeTitleDescription">Målformsidentifisering for statstjenesten</h2>
    <div fxLayoutAlign="end end" style="margin-right: 10px;">
      <div style="align-content: center">
      <mat-label>Målform: </mat-label>
      <a mat-button href='/maalfrid/' [class.selected-language]="nnPageActive">Nynorsk</a>
      <a mat-button href='/maalfrid/nb/' [class.selected-language]="nbPageActive">Bokmål</a>
      </div>
    </div>
  </header>
  <main fxLayoutAlign="center">
    <app-entity-selector class="entity-selector"
                         [entities]="entities"
                         (selectEntity)="onSelectEntity($event)"></app-entity-selector>
  </main>
  <footer class="footer" fxFlex="grow" fxLayout="column" fxLayoutAlign="end end">
    <button mat-button (click)="onOpenAboutDialog()">
      <mat-icon>info</mat-icon>
      Om Målfrid
    </button>
  </footer>
</div>
