<h1 mat-dialog-title i18n="@@AboutDialogHeader">Om Målfrid</h1>
  <p i18n="introduction|An introduction about the app @@AboutDialogIntro">
    Tjenesten er et samarbeid mellom Språkrådet og Nasjonalbiblioteket.<br>
    Nasjonalbiblioteket høster inn alle statlige nettsider.
    Målfrid benytter data fra disse høstingene til å måle fordelingen mellom bokmål og nynorsk på hvert nettsted.
  </p>

  <p i18n="list header|A header for the list of parameters that may affect the result ">
    En rekke faktorer virker inn på resultatet.</p>
<div i18n="list of errors | a list of errors that may affect the result">
  <ul>
    <li>
      Det kan oppstå feil under høstingen:
      <ul>
        <li>
          Når sider ikke er tilgjengelige på tidspunktet for høstingen,
          kan det føre til at en nettside eller et helt nettsted mangler fra datagrunnlaget.
          Feil i programvare kan gi lignende avvik.
        </li>
      </ul>
    </li>
    <li>
      Deler av et nettsted kan ikke høstes:
      <ul>
        <li>
          Sider som krever innlogging, vil ikke bli høstet.
          Dynamisk nettinnhold (innhold som krever interaksjon) kan også by på utfordringer.
        </li>
      </ul>
    </li>
    <li>
      Det kan oppstå feil under filtrering av høstet materiale:
      <ul>
        <li>
          For å sikre gode resultater bruker vi filtre for å eliminere irrelevant tekst
          (html-kode, javaskript, innloggingsportaler, elementer fra YouTube, Facebook m.m.).
          De ulike filtrene er manuelt innstilt. Vurderingene som ligger til grunn for filtreringen,
          kan variere og slik gi avvikende resultater.
        </li>
      </ul>
    </li>
    <li>Plattform og verktøy er under utvikling.</li>
  </ul>
</div>
<footer mat-dialog-actions fxLayoutAlign="end">
  <button mat-button (click)="onClose()">LUKK</button>
</footer>

