<h1 mat-dialog-title>Om Målfrid</h1>
<div mat-dialog-content>
  <p>
    Målfrid benytter data fra Nasjonalbibliotekets høstinger av statlige nettsteder.
    Fra det høstede materialet trekkes teksten ut og analyseres for å finne fordelingen av nynorsk og bokmål for hvert
    enkelt nettsted.
  </p>

  <p>En rekke faktorer er med på å gi utslag på resultatet, for eksempel:</p>
  <ul>
    <li>feil under høsting
      <ul>
        <li>
          Sider som ikke er tilgjengelig ved tidspunktet for høstingen, eller feil i programvare kan forårsake at
          en nettside eller hele nettstedet mangler.
        </li>
      </ul>
    </li>
    <li>at deler av nettstedet ikke kan høstes
      <ul>
        <li>
          Sider som krever innlogging vil ikke bli høstet. Dynamisk innhold (som krever interaksjon) kan også by
          på utfordringer.
        </li>
      </ul>
    </li>
    <li>filtrering av høstet materiale
      <ul>
        <li>
          For å sikre at beregningene som gjøres er mest mulig korrekte, benyttes en rekke filtre for å eliminere
          tekst som ikke er å anse som relevant. Det være seg html-kode, javascript, m.m.; deler av nettsteder som
          forumer,
          innloggingsportaler o.l..; elementer som er innlemmet fra andre nettsteder (f.eks. fra youtube, facebook,
          twitter osv.). Innstilling av filtrene er en manuell operasjon som er utført etter beste evne og skjønn.
        </li>
      </ul>
    </li>
  </ul>

  <p>Det vil derfor være at resultatet som det fremstår i noen tilfeller ikke samsvarer med
    virkeligheten.</p>

  <p>Plattform og verktøy brukt ved høsting og analyse er under utvikling og vil kunne
    endres over tid.</p>
</div>
<footer mat-dialog-actions fxLayoutAlign="end">
  <button mat-button (click)="onClose()">LUKK</button>
</footer>
