section {
  height: 100%;
}

.total-container {
  min-height: 100px;
}

.total-chart {
  height: 100%;
}

.bar-chart-container {
  min-height: 400px;
}

.chart {
  height: 100%;
  overflow: hidden;
}

.table {
  width: 100%;
}

.stat-count {
  font-size: 75%;
  font-family: monospace;
}

tr.mat-footer-row {
  font-style: oblique;
}
