<mat-spinner
  [strokeWidth]="2"
  color="warn"
  *ngIf="loading$ | async"
  class="data-loader"></mat-spinner>
<section fxLayout="row">

  <div class="column-left" fxFlex>
    <app-entity-list
      (rowClick)="onEntitySelect($event)"
      [entities]="entities$ | async"></app-entity-list>
  </div>

  <div class="column-center" fxFlex="grow" fxLayout="column">
    <app-seed-list
      fxFlex
      (rowClick)="onSeedSelect($event)"
      [seeds]="seeds$ | async"></app-seed-list>
    <app-chart
      fxFlex
      [granularity]="granularity$ | async"
      [data]="filteredData$ | async"
      (allTextElementClick)="onAllTextClick($event)"
      (shortTextElementClick)="onShortTextClick($event)"
      (longTextElementClick)="onLongTextClick($event)"
      (perExecutionElementClick)="onPerExecutionTextClick($event)"></app-chart>
    <app-uri-list
      fxFlex (text)="onRequestText($event)"
      [data]="filteredData$ | async"></app-uri-list>
    <app-text
      fxFlex
      [text]="text$ | async"></app-text>
    <span fxFlex="grow"></span>
  </div>

  <div class="column-right" fxFlex fxLayout="column">
    <app-interval
      fxFlex
      (granularity)="onGranularityChange($event)"
      (change)="onIntervalChange($event)"></app-interval>
    <app-filter-set
      fxFlex
      [filterSet]="globalFilterSet$ | async"
      (rowClick)="onGlobalFilterSelect($event)"></app-filter-set>
    <app-filter-set-list
      fxFlex
      [filterSets]="filterSets$ | async"
      (rowClick)="onFilterSetSelect($event)"></app-filter-set-list>
    <app-filter-set
      #seedFilterSet
      fxFlex
      [filterSet]="filterSet$ | async"
      (rowClick)="onSeedFilterSelect($event)"></app-filter-set>
    <app-filter
      fxFlex="grow"
      #immediateFilter
      [domain]="domain$ | async"
      (filterChange)="onImmediateFilter($event)"
      (setSeedFilter)="seedFilterSet.addFilters(immediateFilter.getFilters())"
    ></app-filter>
  </div>

</section>
