<mat-spinner
  [strokeWidth]="2"
  color="warn"
  *ngIf="loading$ | async"
  class="data-loader"></mat-spinner>
<div class="container" fxLayout="column">
  <app-toolbar>| utforsk</app-toolbar>
  <div class="section" fxLayout="row">
    <div class="column-left" fxLayout="column" fxFlex="15%">
      <app-interval
        (change)="interval.next($event)"></app-interval>
      <div fxFlex="grow" class="entity-list">
        <app-entity-list
          (rowClick)="selectedEntity.next($event)"
          [entities]="entities$ | async"></app-entity-list>
      </div>
      <div class="seed-list">
        <app-seed-list fxFlex
                       (rowClick)="selectedSeed.next($event)"
                       [seeds]="seeds$ | async"></app-seed-list>
      </div>
    </div>

    <div class="column-center" fxFlex="grow" fxLayout="column">
      <app-chart
        fxFlex
        [data]="filteredData$ | async"></app-chart>
      <app-uri-list
        fxFlex
        [data]="filteredData$ | async"
        (rowClick)="uri.data = $event"></app-uri-list>
      <app-uri
        #uri
        (text)="onRequestText($event)"></app-uri>
      <app-text
        fxFlex
        [text]="text$ | async"></app-text>
      <div fxFlex="grow"></div>
    </div>

    <div class="column-right" fxFlex="30%" fxLayout="column">
      <app-filter-set
        fxFlex
        #globalFilterSet
        [filterSet]="globalFilterSet$ | async"
        (rowClick)="globalFilters.next($event)"
        (save)="onFilterSetSave($event)"
        (reset)="onGlobalFilterReset()">
      </app-filter-set>
      <app-filter-set-list
        fxFlex
        [filterSets]="filterSets$ | async"
        (rowClick)="filterSet.next($event)"
        (create)="onFilterSetCreate()"
        (save)="onFilterSetSave($event)"
        (delete)="onFilterSetDelete($event)"></app-filter-set-list>
      <app-filter-set
        #seedFilterSet
        fxFlex
        [filterSet]="filterSet$ | async"
        (rowClick)="seedFilters.next($event)"
        (save)="onFilterSetSave($event)"
        (reset)="onSeedFilterSetReset()"></app-filter-set>
      <app-filter
        fxFlex="grow"
        [domain]="domain$ | async"
        (filterChange)="immediateFilters.next($event)"
        (setSeedFilter)="seedFilterSet.addFilters($event)"
        (setGlobalFilter)="globalFilterSet.addFilters($event)"
      ></app-filter>
    </div>
  </div>
</div>
