@import url("https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css");

section {
  height: 100%;
}

.column-left {
  min-width: 200px;
}

.column-center {
  overflow-y: auto;
}

.column-right {
  overflow-y: auto;
}

.statistics-selection {
  height: 100%;
  min-height: 250px;
}


.stat-count {
  font-size: 75%;
  font-family: monospace;
}

.data-loader {
  bottom: 50%;
  left: 50%;
  position: absolute;
  z-index: 100;
}
