<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field class="select">
    <mat-select multiple
                #select
                [(ngModel)]="model"
                [placeholder]="placeholder"
                [disabled]="disabled"
                (selectionChange)="onSelectionChange(select.value, checkbox.checked)">
      <mat-option *ngFor="let option of options" [value]="option">{{option || emptyOption}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox
    #checkbox
    class="checkbox"
    color="warn"
    matTooltip="Exclusive"
    (change)="onSelectionChange(select.value, checkbox.checked)"></mat-checkbox>
</div>
