.container {
  height: 100%;
}

.content {
  padding: 24px;
  overflow-y: hidden;
  width: 1280px;
  margin: auto;
  position: relative;

}

.center-column {
  height: 100%;
  padding-bottom: 24px;
}

.entity-selector {
  margin-top: 5px;
  margin-left: 25px;
}

.helper-text {
  color: grey;
}

.statistics-list-header {
  text-decoration: underline;
}

.print-header {
  display: none;
}

@media print {

  .no-print {
    display: none !important;
  }

  .print-header {
    display: block;
  }
}
