.print-container {
  width: 267mm !important;
  max-width: 267mm !important;
  height: 160mm !important;
  max-height: 160mm !important;
}

.print-content {
  width: 267mm !important;
  max-width: 267mm !important;
  height: 160mm !important;
  max-height: 160mm !important;
}

.print-center {
  width: 197mm !important;
  max-width: 197mm !important;
  max-height: 160mm !important;
  height: 160mm !important;
}

.print-chart {
  height: 140mm !important;
  max-height: 140mm !important;
  width: 197mm !important;
  max-width: 197mm !important;
}

.print-right {
  width: 70mm !important;
  max-width: 70mm !important;
  height: 160mm !important;
  max-height: 160mm !important;
}



