.container {
  height: 100%;

}

.content {
  padding: 24px 24px 0 0;
  overflow-y: hidden;
}

.center-column {
  height: 100%;
  padding-bottom: 24px;
}

.print-page {
  max-width: 210mm;
  max-height: 297mm;
  margin: 10px;

}

.print-entityName {
  text-align: center;
}

.print-chart-container {
  max-width: 100%;height: 500px;
}

.print-stats {
  max-width: 100%;
  page-break-after: always;
}

.print-seed-list {
  max-width: 100%;
}

