<div class="container" fxLayout="column">
  <ng-container *ngIf="{
      entityId: entityId$ | async,
      data: data$ | async,
      seedStats: seedStats$ | async,
      language: language$ | async,
      textCount: textCount$ | async,
      month: month$ | async,
      entityName: entityName$ | async
    } as data">

    <ng-container *ngIf="!print">

      <mat-toolbar>
        <a color="primary" mat-icon-button routerLink="/">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <span fxFlex></span>
        <span *ngIf="data.entityName as name">{{name}}</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="onPrint()">
          <mat-icon>print</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content" fxLayout="row" fxFlex="grow" fxLayoutGap="24px" fxLayoutAlign="space-between stretch">
        <app-entity-list fxFlex="20"
                         (rowClick)="onSelectEntity($event)"
                         [entities]="entities"
                         [id]="data.entityId">
        </app-entity-list>

        <div class="center-column" fxLayout="column" fxFlex="grow" fxLayoutGap="24px">
          <app-chart fxFlex="50" [data]="data.data" (month)="onSelectMonth($event)"></app-chart>
          <app-seed-list fxFlex="50" [seeds]="data.seedStats" [month]="data.month"></app-seed-list>
        </div>

        <div fxLayout="column" fxFlex="20" fxLayoutGap="24px">
          <h2 *ngIf="data.month">{{data.month | date : 'MMMM yyyy' }}</h2>
          <app-language-composition [language]="data.language"></app-language-composition>
          <app-text-composition [textCount]="data.textCount"></app-text-composition>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="print">
      <div class="print-page">
        <button color="primary" mat-mini-fab (click)="onDisplay()" class="hide-print">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <ng-container *ngIf="data.entityName as name">
          <div *ngIf="data.month as month">
            <h1 class="print-entityName">{{name}} {{month | date : 'MMMM yyyy'}}</h1>
          </div>
        </ng-container>

        <div class="print-chart-container">
          <app-chart class="container" [data]="data.data"></app-chart>
        </div>

        <div class="print-stats">
          <app-language-composition [language]="data.language"></app-language-composition>
          <app-text-composition [textCount]="data.textCount"></app-text-composition>
        </div>

        <div class="seed-list">
          <app-seed-list [seeds]="data.seedStats" [month]="data.month"></app-seed-list>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
