<ng-container *ngIf="{
      entityId: entityId$ | async,
      seedId: seedId$ | async,
      seedData: dataForSeedsForYear$ | async,
      seedStats: seedStatsYear$ | async,
      year: year$ | async,
      month: date$ | async,
      entityName: entityName$ | async,
      selectedUri: selectedUri$ | async,
      language: language$ | async,
      monthStats: seedStatsMonth$ | async,
      granularity: granularity | async
    } as data">

    <div [ngClass]="print ? 'print-container' : 'container'" fxLayout="column">
    <mat-toolbar *ngIf="!print">
      <a color="primary" mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <app-entity-selector [entities]="entities"
                           [panelWidth]="700"
                           (selectEntity)="onSelectEntity($event)"
                           class="entity-selector">
      </app-entity-selector>

      <span fxFlex></span>
      <div style="align-items: center">
        <span *ngIf="data.entityName as name">{{name}}</span>
        <span *ngIf="data.selectedUri as uri">: <i>{{uri}}</i></span>
      </div>
      <span fxFlex></span>
      <div>
        <button mat-icon-button (click)="onPreviousYear()" *ngIf="year$.value > startYear">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <mat-form-field style="width: 80px">
          <mat-select (selectionChange)="onChangeYear($event.value)" [value]="year$ | async">
            <mat-option *ngFor="let year of yearRange" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="onNextYear()" *ngIf="year$.value < currentYear">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <button mat-icon-button *ngIf="data.selectedUri" (click)="onPrint()">
        <mat-icon>print</mat-icon>
      </button>
    </mat-toolbar>
    <div [ngClass]="print ? 'print-content':'content'"
         fxLayout="row" fxFlex="grow" fxLayoutGap="24px" fxLayoutAlign="space-between stretch">
      <div [ngClass]="print ? 'print-center' : 'center-column'" fxLayout="column" fxFlex="grow" fxLayoutGap="24px">
        <h2 *ngIf=print>
          <span *ngIf="data.entityName as name">{{name}}</span>
          <span *ngIf="data.selectedUri as uri">: <i>{{uri}}</i></span>
        </h2>
        <div *ngIf="!print">
        <mat-toolbar class="app-toolbar">Per&nbsp;
          <mat-button-toggle-group [value]="granularity | async" (change)="onChangeGranularity($event.value)">
            <mat-button-toggle [value]="Granularity.DAY">{{unitLanguageMap[Granularity.DAY]}}</mat-button-toggle>
            <mat-button-toggle [value]="Granularity.MONTH">{{unitLanguageMap[Granularity.MONTH]}}</mat-button-toggle>
          </mat-button-toggle-group>
          <span fxFlex></span>
          <mat-form-field fxFlex class="field">
            <input matInput
                   [matDatepicker]="startTimePicker"
                   placeholder="Fra"
                   (dateChange)="onStartDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #startTimePicker [startView]="startView"></mat-datepicker>

          <mat-form-field fxFlex style="margin-left: 10px">
            <input matInput
                   [matDatepicker]="endTimePicker"
                   placeholder="Til"
                   (dateChange)="onEndDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #endTimePicker [startView]="startView"></mat-datepicker>
        </mat-toolbar>
        </div>
        <app-chart [ngClass]="print ? 'print-chart' :  null"
                   [fxHide]="data.seedData ? data.seedData.length === 0 : false" fxFlex="50"
                   [data]="data.seedData" (date)="onSelectDate($event)" [granularity]="data.granularity">
        </app-chart>
        <app-seed-list *ngIf=!print fxFlex="50" [seeds]="data.seedStats" [primary]="data.seedId"
                       (rowClick)="onSelectSeed($event)" class="no-print">
        </app-seed-list>
      </div>

      <div [ngClass]="print ? 'print-right' : null" fxLayout="column" fxFlex="25" >
        <ng-container *ngIf="data.language">
          <h3 class="statistics-list-header" i18n="@@entityDetailsLanguageCompositionHeader">
            Fordelingen for {{data.year}}
          </h3>
          <app-language-composition [language]="data.language"></app-language-composition>
        </ng-container>
        <ng-container *ngIf="data.language && !data.monthStats && !print">
          <h4 class="helper-text" i18n="@@entityDetailsMonthSelectionHint">
            <i> Velg en måned for å vise statistikk for valgte nettsted</i>
          </h4>
        </ng-container>
        <ng-container *ngIf="data.monthStats">
          <h3 class="statistics-list-header" i18n="@@entityDetailsTextCompositionHeader">
            Statistikk for {{data.month | date: 'MMMM'}}
          </h3>
          <app-text-composition [textCount]="data.monthStats"></app-text-composition>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
