<section class="home-container" fxLayout="column" fxLayoutAlign="space-between">
  <header class="header-background">
    <section class="header-section">
      <div class="header-headline">
        <h1>Målfrid</h1>
        <h2>Målformsidentifisering for statstenesta</h2>
        <a *ngIf="isLoggedIn" mat-raised-button [routerLink]="['/statistics']">Statistikk</a>
      </div>
      <div class="header-stats">
        <img src="assets/NB-logo-no-eng-hvit.svg"><br/>
      </div>
    </section>
  </header>
  <footer class="app-footer" fxLayoutAlign="space-around center">
    <span>versjon: {{ version }}</span>
  </footer>
</section>
