<section class="home-container" fxLayout="column">
  <header class="header-background" fxFlex>
    <section class="header-section">
      <div class="header-headline">
        <h1>Målfrid</h1>
        <h2>Målformsidentifisering for statstenesta</h2>
      </div>
      <a *ngIf="isLoggedIn" mat-button color="primary" [routerLink]="['/statistics']">Utforsk</a>
      <a *ngIf="isLoggedIn" mat-button color="primary" [routerLink]="['/report']">Se rapport</a>
      <app-auth></app-auth>
    </section>
  </header>
  <footer fxFlex="grow" class="app-footer" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="header-stats">
      <img class="logo" src="assets/NB-logo-no-eng-hvit.svg"><br/>
    </div>
    <span>versjon: {{ version }}</span>
  </footer>
</section>
