.home-container {
  height: 100%;
  background: black;
}

.header-background {
  background: #3f51b5;
  overflow: hidden;
}

.header-section {
  text-align: center;
  padding-top: 60px;
}

.header-headline {
  color: white;
}

.header-headline h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 0 15px 0;
}

.header-headline h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px 0;
}

.header-stats {
  margin: 60px 0 60px 0;
}


.app-footer {
  color: white;
  padding: 12px;
  background: #3f51b5;
}

.app-version {
  font-family: monospace;
}
