.home-container {
  height: 100%;
  background: black;
}

.header-background {
background: white;
  overflow: hidden;
}

.header-section {
  text-align: center;
  padding-top: 60px;
}

.header-headline {
  color: black;
  margin-bottom: 2em;
}

.header-headline h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 0 15px 0;
}

.header-headline h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px 0;
}

.header-stats {
  background: black;
  padding: 60px 0 60px 0;
}


.app-footer {
  color: white;
  padding: 12px;
}

.app-version {
  font-family: monospace;
}
